@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

.left_side {
  display: flex;
  justify-content: flex-start;
  max-width: 300px;
}

.right_side {
  display: flex;
  justify-content: flex-end;
}

.first_section {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.first_element {
  display: flex;
  justify-content: space-around;
}

.list_element {
  list-style-type: none;
}

.home_img {
  margin-top: 20px;
  width: 1000px;
  height: 600px;
}

.home_link {
  color: var(--electric-blue);
  text-decoration: none;
  font-size: 30px;
}

@media (max-width: 400px) {
  .home_img {
    margin-left: 40px;
    max-width: 100%;
    height: auto;
  }
  .left_side,
  .home_link {
    font-size: 10px;
  }
}
