@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

.wrapper {
  margin: 0 20px;
  max-width: 100%;
  gap: 30px;
  /*    */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

h1 {
  text-align: center;
  font-size: 50px;
  color: var(--register-grey);
}

.news_container {
  padding: 20px;
  background-color: var(--register-grey);
  transition: ease 0.4s;
}

.news_container:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.news_image {
  max-width: 100%;
  min-height: 200px;
}

.news_title {
  font-weight: 500;
  font-size: 30px;
  color: white;
}

.news_category {
  font-weight: 500;
  font-size: 20px;
  color: white;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .news_image {
    max-width: 300px;
    min-height: 70px;
  }
  .news_title {
    font-weight: 500;
    font-size: 20px;
    color: white;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
}
